/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:920c2d0f2f277690dec15dd9c640dfb9$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(img/mole@64.png);}

.0001 {width:192px; height:190px; background-position: -2px -2px}
.0002 {width:192px; height:190px; background-position: -196px -2px}
.0003 {width:192px; height:190px; background-position: -390px -2px}
.0004 {width:192px; height:190px; background-position: -584px -2px}
.0005 {width:192px; height:190px; background-position: -778px -2px}
.0006 {width:192px; height:190px; background-position: -972px -2px}
.0007 {width:192px; height:190px; background-position: -1166px -2px}
.0008 {width:192px; height:190px; background-position: -2px -194px}
.0009 {width:192px; height:190px; background-position: -196px -194px}
.0010 {width:192px; height:190px; background-position: -390px -194px}
.0011 {width:192px; height:190px; background-position: -584px -194px}
.0012 {width:192px; height:190px; background-position: -778px -194px}
.0013 {width:192px; height:190px; background-position: -972px -194px}
.0014 {width:192px; height:190px; background-position: -1166px -194px}
.0015 {width:192px; height:190px; background-position: -2px -386px}
.0016 {width:192px; height:190px; background-position: -196px -386px}
.0017 {width:192px; height:190px; background-position: -390px -386px}
.0018 {width:192px; height:190px; background-position: -584px -386px}
.0019 {width:192px; height:190px; background-position: -778px -386px}
.0020 {width:192px; height:190px; background-position: -972px -386px}
.0021 {width:192px; height:190px; background-position: -1166px -386px}
.0022 {width:192px; height:190px; background-position: -2px -578px}
.0023 {width:192px; height:190px; background-position: -196px -578px}
.0024 {width:192px; height:190px; background-position: -390px -578px}
.0025 {width:192px; height:190px; background-position: -584px -578px}
.0026 {width:192px; height:190px; background-position: -778px -578px}
.0027 {width:192px; height:190px; background-position: -972px -578px}
.0028 {width:192px; height:190px; background-position: -1166px -578px}
.0029 {width:192px; height:190px; background-position: -2px -770px}
.0030 {width:192px; height:190px; background-position: -196px -770px}
.0031 {width:192px; height:190px; background-position: -390px -770px}
.0032 {width:192px; height:190px; background-position: -584px -770px}
.0033 {width:192px; height:190px; background-position: -778px -770px}
.0034 {width:192px; height:190px; background-position: -972px -770px}
.0035 {width:192px; height:190px; background-position: -1166px -770px}
.0036 {width:192px; height:190px; background-position: -2px -962px}
.0037 {width:192px; height:190px; background-position: -196px -962px}
.0038 {width:192px; height:190px; background-position: -390px -962px}
.0039 {width:192px; height:190px; background-position: -584px -962px}
.0040 {width:192px; height:190px; background-position: -778px -962px}
.0041 {width:192px; height:190px; background-position: -972px -962px}
.0042 {width:192px; height:190px; background-position: -1166px -962px}
.0043 {width:192px; height:190px; background-position: -2px -1154px}
.0044 {width:192px; height:190px; background-position: -196px -1154px}
.0045 {width:192px; height:190px; background-position: -2px -2px}
